<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>item</title>
 
  <link rel="stylesheet" href="/public/styles/item.css">
  <link rel="stylesheet" href="/public/styles/shoping-mini.css">
    
    
  
    
</head>
<body>
    

    <div class="navigation-purchase">
        <div class="burger-logo-contaier">
        <div class ="burger-container">
            <div class="burger">                
            </div>     
        </div>

        <div class="logo">
            <a href="#"><span>zara</span></a>
        </div>

        </div>

        <div class="search-container">
            <label for="search" class="search-text"> search</label>
            <input type="text" name="search" class="search-input" id=""autocomplete='off'>
        </div>
        <div class="login-help-cart-container">
        <div class="log-in">
            <span>login</span>
        </div>
        
        <div class="help">
           <span class="help-text"> help</span>
        </div>

        <div class="shopping-cart">
            <img src="/public/images/svg-images/shopping_cart.png" alt="" class="shopping-cart">

            <span class="total-items"></span>
            <div class="main-shopping-mini">
                <div class="main-container">
                    <!-- <div class="item">
                        <div class="image-container">
                        <img src="/public/images/shoppinMini/black.jpg" alt="" class="item-image">
                        </div>
                        <div class="items-def">
                        <a href="#"> <p class="item-definition">basic denim jacket</p></a>
                        <span class="item-price">$2,000</span>
                        </div>
                    </div>
        
                    <div class="item">
                        <div class="image-container">
                        <img src="/public/images/shoppinMini/black.jpg" alt="" class="item-image">
                        </div>
                        <div class="items-def">
                        <a href="#"> <p class="item-definition">basic denim jacket</p></a>
                        <span class="item-price">$2,000</span>
                        </div>
                    </div> -->
        
                    <!-- <div class="item">
                        <div class="image-container">
                        <img src="/static/images/shoppinMini/black.jpg" alt="" class="item-image">
                        </div>
                        <div class="items-def">
                        <a href="#"> <p class="item-definition"></p></a>
                        <span class="item-price"></span>
                        </div>
                    </div> -->
                </div>
                <form action="/static/cart-main.html/" method="post">
                <div class="button-container">

                <button class="button-shopping-cart">see shopping basket</button>
                </div>
                </form>
            </div>
        </div>
        </div>

    </div>

    <div class="catologue">

        <div class="catagories">
            <div class="arrow-left-container">
                <span class="arrow-left"> < </span>
            </div>
            <div class="catagories-slider">
            <ul class="catagories-lists">
                <li class="catagories-list-item view-all">view all</li>
                <li class="catagories-list-item">leather shoes</li>
                <li class="catagories-list-item">heeled sandals</li>
                <li class="catagories-list-item">flat sandals</li>
                <li class="catagories-list-item">high heels</li>
                <li class="catagories-list-item">flat shoes</li>
                <li class="catagories-list-item">trainers</li>
                <li class="catagories-list-item">boots | ankle boots</li>
                <li class="catagories-list-item">flat shoes</li>
                <li class="catagories-list-item">speacial prices</li>
            </ul>
            </div>

            <div class="arrow-right-container">
                <span class="arrow-right"> > </span>
            </div>
        </div>

        <div class="view-options">
            <div class="view">
                <li class="view-option">view</li>
                <li class="view-option">2</li>
                <li class="view-option">4</li>
            </div>
        </div>

        <div class="filters">
            <span class="filter">
                +filter
            </span>
        </div>
    </div>

    <div class="main-catologue">

        <div class="headline-announcement">
            <p>OUR STORES ARE TEMPORARILY CLOSED, BUT WE ARE STILL AVAILABLE FOR YOU AT ZARA. COM, 
                WHERE YOU CAN ONLY PURCHASE WITH A DEFERRED DELIVERY AND PREPAID PAYMENT.
            </p>
            <p>
                RETURN TIMEFRAMES ARE EXTENDED UP TO 30 DAYS AFTER THE REOPENING OF OUR STORES. 
            </p>
        </div>
        <% items.shoes.forEach(element => {  %>
            <div class="item-widget-main">
                <a href="/static/item-cart.html/<%=element.id%>" alt="<%=element.id%>" > 
                    
                    <img src="/public/images/catalogue/<%=element.imgName%>" alt="" class="item-main">
                </a>
                  <div class="item-price-detail">
                      <a href="#">
                          <p class="item-detail"><%= element.detail%></p>
                      </a>
                      <span class="item-price"><%= element.price%></span>
      
                  </div>
              </div>
       <% });%>
        
    </div>

   

    
</body>
</html>
<script src="/public/js/item.js"></script>

